<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/petproject</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <property name="hibernate.current_session_context_class">thread</property>


        <!-- Add your org.example.petproject.model classes here -->
        <mapping class="org.example.petproject.model.User"/>
        <mapping class="org.example.petproject.model.Pet"/>
        <mapping class="org.example.petproject.model.Service"/>
        <mapping class="org.example.petproject.model.ServiceBooking"/>
        <mapping class="org.example.petproject.model.Room"/>
        <mapping class="org.example.petproject.model.PetBoarding"/>
        <mapping class="org.example.petproject.model.Appointment"/>
        <mapping class="org.example.petproject.model.MedicalRecord"/>
        <mapping class="org.example.petproject.model.PetBoardingInfoJPA"/>
    </session-factory>
</hibernate-configuration>
